@import url(./__technologies/techno__technologies.css);
@import url(./__languages/techno__languages.css);
@import url(./__lang/techno__lang.css);
@import url(./__typeoflang/tehcno__typeoflang.css);

.techno {
    background-color: #F5F6F7;
    padding: 80px 0 94px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
    .techno {
        padding: 40px 0;
    }
}

@media screen and (max-width: 500px) {
    .techno {
        padding: 32px 0;
    }
}