.button-mobile {
    display: none;

}

@media screen and (max-width: 500px) {
    .button-mobile {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 24px;

    }

    .button_mobile {
        text-decoration: none;
    }
}