@import url(./__image/nothing-found-image.css);
@import url(./__title/nothing-found__title.css);
@import url(./__text/nothing-found__text.css);

.nothing-found {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #F5F6F7;
}