.schedule__right {
    width: 104px;
    min-width: 104px;
    flex-grow: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 991px) {
    .schedule__right {
        width: 69px;
        min-width: 69px;
    }
}