.techno__languages {
    display: flex;
    width: 100%;
    margin-top: 13px;
    flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
    .techno__languages {
        justify-content: space-between;
        margin-top: 40px;
    }
}