.search {
    background-color: #25301C;
    background-image: url("../../images/pictures/header_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}