@import url(./__copy/footer__copy.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__icons-links/footer__icons-links.css);
@import url(./__icns-link/footer__icns-link.css);

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 434px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
}