@import url(./__date/card__date.css);
@import url(./__mail/card__mail.css);
@import url(./__name/card__name.css);
@import url(./__text/card__text.css);
@import url(./__person/card__person.css);
@import url(./__img/card__img.css);

.card {
    box-sizing: border-box;
    min-width: 400px;
    min-height: 288px;
    padding: 24px;
    margin-left: 8px;
    margin-right: 8px;
    background: #FFFFFF;
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
}

.card:hover {
    box-shadow: 1px 5px 15px rgba(8, 29, 45, 0.1);
}

@media screen and (max-width: 991px) {
    .card {
        min-width: 336px;
        max-height: 242px;
        min-height: 242px;
        margin: 32px 0;
        justify-content: flex-start;
        margin: 0 0 0 40px;
    }

    .card+.card {
        margin-left: 8px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        min-width: 288px;
        max-height: 264px;
        min-height: 264px;
        margin: 0 0 0 16px;
    }

    .card+.card {
        margin-left: 8px;
    }
}