@import url(./_gray/header__line_gray.css);

.header__line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 79px;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}