.results__news-title {
    margin: 12px 0;
    font-family: 'RobotoSlab',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    color: #1A1B22;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-wrap: break-word;
}

@media screen and (max-width: 991px) {
    .results__news-title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px;
    }
}